<div class="container">
  <div class="logo">
    <span class="mdi mdi-spotify"></span>
  </div>
  <h1>Sky Test application</h1>

  <div class="authorization-form">
    <form [formGroup]="form">
      <div class="control">
        <label for="clientId">Client ID</label>
        <input type="text" [formControlName]="'clientId'" class="input-form" />
        </div>
      <div class="control">
        <label for="secretId">Secret</label>
        <input type="text" [formControlName]="'secretId'" class="input-form" />
      </div>
      <div class="footer">
        <button type="submit" class="btn btn-primary full-width" (click)="onClickAuthorize()">Authorize</button>
      </div>
    </form>
  </div>
</div>
